<h1 id="cs-103">cs 103</h1>
<hr />
<h2 id="section">0</h2>
<p>this course covers</p>
<pre><code>* modelling; problem solving, decomposition
* discrete maths
    * set thery
    * proof techniques
    * induction
    * graphs
    * relations
    * functions
    * logic
* computability
* complexity theory</code></pre>
<p>chapters</p>
<p>one : set theory, Cantor's theorem</p>
<p>two : formal proof techniques</p>
<p>three : mathematical induction</p>
<p>four : graphs, modelling</p>
<p>five : relations</p>
<p>six : set theory, rigorous treatment of the properties of infinity</p>
<h2 id="section-1">1.1</h2>
<dl>
<dt>set</dt>
<dd><p>a <em>set</em> is an unordered collection of distinct elements. e.g.,</p>
<p>{1, 2, 3, 4}, {'cat','dog','lizard'} {1, 1, 1, 1} ≡ {1}</p>
</dd>
<dt>element</dt>
<dd><p>an <em>element</em> is something contained within a set. e.g.,</p>
<p>1 ∈ {1, 2, 3} {1, 2} ∈ {{1, 2}, 3} // sets may contain other sets. sets are valid elements {1, 2} ⇔ {2, 1}</p>
</dd>
</dl>
